[Unit]
Description=yggdrasil
Wants=network.target
After=network.target

[Service]
Group=yggdrasil
ProtectHome=true
ProtectSystem=true
SyslogIdentifier=yggdrasil
CapabilityBoundSet=CAP_NET_ADMIN
ExecStartPre=+-/sbin/modprobe tun
ExecStartPre=/bin/sh -ec "if ! test -s /etc/yggdrasil.conf; \
                then umask 077; \
                yggdrasil -genconf > /etc/yggdrasil.conf; \
                echo 'WARNING: A new /etc/yggdrasil.conf file has been generated.'; \
            fi"
ExecStart=/usr/bin/yggdrasil -useconffile /etc/yggdrasil.conf
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target
