version: '{build}'
pull_requests:
  do_not_increment_build_number: true
os: Visual Studio 2017
shallow_clone: false

environment:
  MSYS2_PATH_TYPE: inherit
  CHERE_INVOKING: enabled_from_arguments

install:
- c:\msys64\usr\bin\bash -lc "pacman --noconfirm -S curl unzip"

build_script:
- cmd: >-
    cd \projects\yggdrasil-go
    c:\msys64\usr\bin\bash -lc "./contrib/msi/build-msi.sh x64"
    c:\msys64\usr\bin\bash -lc "./contrib/msi/build-msi.sh x86"

test: off

artifacts:
- path: '*.msi'
