<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>org.riv-mesh.service</string>
    <key>ProgramArguments</key>
    <array>
      <string>/Applications/RiV-mesh.app/Contents/MacOS/mesh</string>
      <string>-useconffile</string>
      <string>/etc/mesh.conf</string>
    </array>
    <key>KeepAlive</key>
    <true/>
    <key>RunAtLoad</key>
    <true/>
    <key>ProcessType</key>
    <string>Interactive</string>
    <key>WorkingDirectory</key>
    <string>/Applications/RiV-mesh.app/Contents/MacOS</string>
    <key>StandardOutPath</key>
    <string>/tmp/mesh.stdout.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/mesh.stderr.log</string>
  </dict>
</plist>
