<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>yggdrasil</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/yggdrasil</string>
        <string>-useconffile</string>
        <string>/usr/local/etc/yggdrasil.conf</string>
    </array>
    <key>KeepAlive</key>
    <true/>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/Library/Logs/yggdrasil.log</string>
    <key>StandardErrorPath</key>
    <string>/Library/Logs/yggdrasil.log</string>
</dict>
</plist>
